<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
  <base href="../../../">
  <meta charset="utf-8">
  <meta name="author" content="Softnio">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
  <!-- Fav Icon  -->
  <link rel="shortcut icon" href="./images/favicon.png">
  <!-- Page Title  -->
  <title>ECRS Capture</title>
  <!-- StyleSheets  -->
  <link rel="stylesheet" href="./assets/css/dashlite.css">
  <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css?ver=2.5.0">
</head>

<body class="nk-body bg-lighter npc-default has-sidebar ">
  <div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- sidebar @s -->

      <!-- sidebar @e -->
      <!-- wrap @s -->
      <div class="nk-wrap ">
        <!-- main header @s -->
        <div class="nk-header is-light">
          <div class="container-fluid py-3">
            <div class="card-title-group row-cols-md-3">
              <!-- <div class="navbar"> -->
              <div>
                <img style="width: 30px; " src="./assets/images/pencom_big.png" />
              </div>
              <div>
                <ul class="row nk-header-center d-none d-lg-flex">
                  <li class="mx-4">Home</li>
                  <li class="mx-4">About</li>
                  <li class="mx-4">FAQ</li>
                  <li class="mx-4">Contact Us</li>
                </ul>
                <!-- </div> -->
              </div>
              <div>
                <ul class="nk-tb-actions">
                  <li class="mx-4">Login</li>
                  <li class="mx-4 btn btn-lg btn-info">Sign Up</li>
                </ul>
              </div>
            </div>
          </div><!-- .container-fliud -->
        </div>
        <!-- main header @e -->
        <!-- content @s -->
        <div class="nk-content ">
          <div class="container-fluid">
            <div class="nk-content-body">
              <div class="components-preview wide-md mx-auto">
                <div class="nk-block nk-block-lg">
                  <div class="chat-context row-cols-md-2 row-cols-1 p-xxl-5">
                    <!-- <div class="nk-block-head-content">
                      <h4 class="title nk-block-title">Verify your Identity in 3 easy steps
                      </h4>
                      <div class="nk-block-des">
                        <p>We verify your identity to make sure you are you not someone
                          prentending to be you.
                          Verifying your identity also allows you to access services of
                          PENCOM.
                        </p>
                      </div>
                    </div> -->

                    <div>
                      <h2>Verify your Identity in 3 easy steps</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque cumque hic nulla ipsa.
                          Inventore, suscipit, minus commodi et aspernatur voluptatem, vero laboriosam quaerat ad
                          cupiditate autem molestiae repellat odit cumque.</p>
                        <a href="html/components/forms/form-layouts.html">
                          <button class="btn btn-xl btn-outline-info">Verify Now</button>
                        </a>
                    </div>
                    <img src="./images/test.svg" class="d-none d-md-flex" />
                  </div>
                </div>
              </div><!-- .nk-block -->

            </div><!-- .components-preview -->
          </div>
        </div>
      </div>
    </div>
    <!-- content @e -->
    <!-- footer @s -->
    <div class="nk-footer">
      <div class="container-fluid">
        <div class="nk-footer-wrap">
          <div class="nk-footer-copyright"> &copy; 2020 DashLite. Template by <a href="https://softnio.com"
              target="_blank">Softnio</a>
          </div>
          <div class="nk-footer-links">
            <ul class="nav nav-sm">
              <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- footer @e -->
  </div>
  <!-- wrap @e -->
  </div>
  <!-- main @e -->
  </div>
  <!-- app-root @e -->
  <!-- JavaScript -->
  <script src="./assets/js/small.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.smileidentity.com/js/v1.0.0-beta.1/smart-camera-web.js"></script>
  <script src="./assets/js/bundle.js?ver=2.5.0"></script>
  <script src="./assets/js/scripts.js?ver=2.5.0"></script>
</body>

</html>